body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
}

/* Login Page */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #5bd95b);
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #764ba2;
}

/* Navbar */
.navbar {
  background: #374584;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  margin-left: 15px;
  padding: 6px 12px;
  border: none;
  background: #cd303f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Products */
.products {
  display: flex;
  gap: 25px;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  width: 220px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #1ebd39;
  color: white;
  cursor: pointer;
}

/* Cart */
.cart {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.category {
  font-size: 14px;
  color: gray;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: #002fff;
}
